<h1> Square Root Calculation </h1>

<form action="/payment/results">
  <label for="apr">
    APR
  </label>
  <input id="apr" type="text" name="user_apr">

  <label for="number_of_years">
    Number of years
  </label>
  <input id="number_of_years" type="text" name="user_years">

  <label for="principal">
    Principal
  </label>
  <input id="principal" type="text" name="user_principal">


  <button>Calculate monthly payment</button>
</form>
