<h1> Random Calculation </h1>

<form action="/random/results">
  <label for="range_start">
    Minimum
  </label>
  <input id="range_start" type="text" name="user_minimum">

  <label for="range_end">
    Maximum
  </label>
  <input id="range_end" type="text" name="user_maximum">

  <button>Pick random number</button>
</form>
